body {
  height: 100%;
  margin: 5px;
  background: #fba5ad;
  font-family: 'Squada One', cursive;
}


.timeSection {
  margin: 5px;
  background-color: lightblue;
  border: 2px double darkblue;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 1;
  z-index: 2;
}

.People {
  border: 2px double black;
  grid-gap: 5px; border-radius: 10px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  background: #eaa099;
  color: black;
  box-shadow: 0px 2px 0px black;
}

.timeSection {
  vertical-align:middle;
  display:table-cell;
  width:10%;
  text-align:center;
}

.coords {
  vertical-align: middle;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 1;
}

.mapping {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-column-end: 3;
}

.sideText {
  grid-column-start: 1;
  grid-column-end: 3;
}
#marker {
  width:auto;
  height: 600px;
}

#grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5px;
}

#grid > div {
  font-size: 24px;
  text-align: center;
  border-radius: 15px;
  padding: 30px;
}

#location {
  background: #a4c7b0;
  border: 2px double darkgreen;
}

#marker {
  background: lightyellow;
  border: 2px double darkred;
}

#sidebar {
  border: 2px double darkgrey;
  background: #f3b0d0;
  grid-column-start: 0;
  grid-column-end: 3;
  margin-top: 10%;
}
