body {
  height: 100%;
  margin: 5px;
  background: #1f355d;
  font-family: 'Squada One', cursive;
}


.timeSection {
  margin: 5px;
  background-color: lightblue;
  border: 2px solid #1b2f54;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  vertical-align:middle;
  text-align:center;
}

.People {
  border: 2px solid #1b2f54;
  grid-gap: 5px; border-radius: 10px;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  background: lightblue;
  color: black;
  box-shadow: 0px 2px 0px black;
}

.People:hover {
  background: #c2fef7;
  box-shadow: none;
  border: 2px inset;
}

.coords {
  vertical-align: middle;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 1;
}

.mapping {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-column-end: 3;
}

.sideText {
  grid-column-start: 1;
  grid-column-end: 3;
}
#marker {
  width:auto;
  height: 600px;
}

#grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5px;
}

#grid > div {
  font-size: 24px;
  text-align: center;
  border-radius: 15px;
  padding: 30px;
}

#location {
  background: lightblue;
  color: black;
  border: 2px solid #1b2f54;
}

#marker {
  background: #111e35;
  border: 2px solid #1b2f54;
}

#sidebar {
  border: 2px solid #1b2f54;
  background: lightblue;
  grid-column-start: 0;
  grid-column-end: 3;
}
